@import "variables/colors.scss";

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
	/* justify-content: center; */
	/* justify-items: center; */
	/* width: 100%; */
    &__header {
        width: 94%;
        height: 70px;
        // background-color: tomato;
        display: flex;
        align-self: center;
        justify-content: space-between;
    }
    &__image {
    width: 94%;
    height: 100%;
    display: flex;
    align-self: center;
    position: relative;
    } 
}

.logo {
    align-self: center;
	width: 2%;
}

.menu {
    align-self: center;
}

.image {
    background-image: url('../img/p3.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &__left-side {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: $green-bg;
        &--full {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $green-about;
        }
    }
    &__projects {
        width: 2.5%;
        height: 100%;
        background-color: $green-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Catamaran;
    font-weight: 300;
    color: #ffffff;
    width: 85%;
    height: 50%;
    // background-color: cadetblue;
    
    &__one{
        margin: 0 0 20px;
        /* width: 178px; */
        /* height: 32px; */
        font-family: Catamaran;
        font-size: 1.8vw;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.3px;
        color: #ffffff;
        text-transform: uppercase; 
    }
    &__two {
        margin: 0 44px;
        /* height: 27px; */
        font-family: Playfair Display;
        font-size: 1.8vw;
        font-weight: bold;
        /* font-style: normal; */
        /* font-stretch: normal; */
        /* line-height: 2.25; */
        /* letter-spacing: normal; */
        /* color: #ffffff; */
        text-transform: uppercase;
    }
    &__three {
        margin: 0 0 30px;
        /* font-family: Catamaran; */
        font-size: 5vw;
        font-weight: 900;
        /* font-style: normal; */
        /* font-stretch: normal; */
        line-height: 0.8;
        /* letter-spacing: normal; */
        /* color: #ffffff; */
        text-transform: lowercase;
    }
    &__four {
        margin: 0 44px;
        /* height: 27px; */
        font-family: Playfair Display;
        font-size: 1.8vw;
        font-weight: bold;
        /* font-style: normal; */
        /* font-stretch: normal; */
        /* line-height: 2.25; */
        /* letter-spacing: normal; */
        /* color: #ffffff; */
        text-transform: uppercase;
    }
    &__five {
        margin: 0;
        /* font-family: Catamaran; */
        font-size: 5vw;
        font-weight: 900;
        /* font-style: normal; */
        /* font-stretch: normal; */
        line-height: 0.8;
        /* letter-spacing: normal; */
        /* color: #ffffff; */
        text-transform: lowercase;
    }
}

.arrow {
    background-size: 8%;
    width: 85%;
    height: 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    &__image {
        background-image: url('../img/arrow__test.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 9%;
        height: 20%;
        margin-top: -32px;
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    @keyframes arrow {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            margin-right: -26px;
            opacity: 1;
        }
    } 
}


.bg-about {
    position: absolute;
    color: white;
    opacity: 0.06;
    font-family: Catamaran;
    font-size: 27vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.8;
    display: flex;
    width: 100%;
    height: 90%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 26px;
}

.picture {
    background-image: url('../img/me.png');
    background-size: 100%;
    width: 25%;
    height: 30%;
    background-repeat: no-repeat;
    align-self: flex-end;
    margin-right: -120px;
    z-index: 1;
}



.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
    font-family: Catamaran;
    z-index: 1;
    &__bg-about {
        position: absolute;
        text-align: center;
        color: #B22222;
        font-size: 100px;
    }
    &__header{
        font-size: 4vw;
        font-weight: 900;
        line-height: 0.6;
        color: $white;
        width: 30%;
        text-transform: uppercase;
    }
    &__sub-header {
        font-size: 1.9vw;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: $dark;
        width: 70%;
        margin: 20px 0;
        align-self: center;
    }
    &__content {
        font-size: 1.2vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #f9f9f9;
        align-self: flex-end;
        width: 85%;
    }
}
.cross {
    background-image: url('../img/cross__white.png');
    background-size: 80%;
    width: 6%;
    height: 9%;
    background-repeat: no-repeat;
    align-self: center;
}

.italic {
    width: 235px;
    height: 72px;
    font-family: Catamaran;
    font-size: 56px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: lowercase;
    &--bg-about {
        font-size: 38vw;
        font-family: Playfair Display;
        font-weight: 900;
        line-height: 0.3;
        text-transform: lowercase;
    }
    &--about {
        font-family: Playfair Display;
        font-size: 5.5vw;
        font-weight: 900;
        line-height: 0.6;
        text-transform: lowercase;
    }
}

.project {
    width: 100%;
    height: 2.5vw;
    &--1 {
        background-color: $red;
    }
    &--2 {
        background-color: $green;
    }
    &--3 {
        background-color: $blue;
    }
    &--4 {
        background-color: $orange;
    }
    &--5 {
        background-color: $violet;
    }
}

$t: 1s;
$d: 0.04em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$front: $white;
$back: $dark;

// .popout{
//     margin: 0 0 20px;
//     /* width: 178px; */
//     /* height: 32px; */
//     font-family: Catamaran;
//     font-size: 1.8vw;
//     font-weight: 900;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: 1.3px;
//     color: #ffffff;
//     text-transform: uppercase;
//     .span {
//         letter-spacing: -7px;
//         &__space {
//             margin-right: 50px !important;
//         }
//     }

// 	@keyframes ani{
// 		0%{
// 			transform: translate3d(0,0,0);
// 			// text-shadow: 0em 0em 0 $back;
// 			color: $front;
// 		}
// 		30%{
// 			transform: translate3d(0,0,0);
// 			// text-shadow: 0em 0em 0 $back;
// 			color: $front;
// 		}
// 		70%{
// 			transform: translate3d($d,-$d,0);
// 			// text-shadow: -$d $d $back;
// 			color: $front;
// 		}
// 		100%{
// 			transform: translate3d($d,-$d,0);
// 			// text-shadow: -$d $d $back;
// 			color: $front;
// 		}
// 	}
// 	span{
// 		position: relative;
// 		display: inline-block;
// 		animation: ani $t infinite alternate $e;
// 		@for $i from 1 through $n{
// 			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
// 		}
// 	}	
// }