
.wrapper__left-side {
    align-items: flex-end;
    background-color: $green-bg;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    transition: background-color;
    transition: width 1s ease;
    align-self: flex-start;
    position: relative;
    justify-content: space-between;
    
    &--full {
        background-color: $green-about;
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;
    }
    // &--open {
    //     background: $green-about;
    //     transition: width 0.5s ease;
    //     width: 100%;
    // }
}

.wrapper__projects {
    background-color: rgba(50, 130, 10, 0.9);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 2.5%;
    position: relative;
}

.intro {
    // background-color: cadetblue;
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: Catamaran;
    height: 50%;
    justify-content: flex-end;
    width: 85%;
    overflow: hidden;
    &--animation {
        @keyframes move {
            0% {
                left: 0;
            }
            100% {
                left: 328px;
            }
        }
    }
    &__one{
        font-size: 1.8vw;
        font-weight: 900;
        letter-spacing: 1.3px;
        margin: 0 0 20px;
        overflow: hidden;
        text-transform: uppercase;
        width: 210px;
        &--animation {
            @include animation;
            margin: 0;
        }
    }
    &__two {
        font-family: Playfair Display;
        font-size: 1.8vw;
        font-weight: bold;
        margin: 0 44px;
        overflow: hidden;
        text-transform: uppercase;
        width: 70px;
        &--animation {
            @include animation;
            margin: 0;
        }
    }
    &__three {
        align-items: center;
        display: flex;
        font-size: 5vw;
        font-weight: 900;
        height: 76px;
        line-height: 0.8;
        overflow: hidden;
        text-transform: lowercase;
        width: 282px;
        &--animation {
            @include animation;
        }
    }
    &__four {
        font-family: Playfair Display;
        font-size: 1.8vw;
        font-weight: bold;
        margin: 0 44px;
        overflow: hidden;
        text-transform: uppercase;
        width: 90px;
        &--animation {
            @include animation;
            margin: 0;
        }
    }
    &__five {
        align-items: center;
        display: flex;
        font-size: 5vw;
        font-weight: 900;
        height: 76px;
        line-height: 0.8;
        overflow: hidden;
        text-transform: lowercase;
        width: 328px;
        &--animation {
            @include animation;
        }
    }
}

.arrow {
    background-repeat: no-repeat;
    background-size: 8%;
    display: flex;
    height: 50%;
    justify-content: flex-end;
    width: 85%;
    &__image {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow;
        background-image: url('../img/arrow__test.png');
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        height: 20%;
        margin-top: -32px;
        width: 9%;
    }
    @keyframes arrow {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            margin-right: -26px;
            opacity: 1;
        }
    }
}
