//Gray Palette
$white: #ffffff;
$light-gray: #eeeeef;
$dark-gray: #474554;
$darker-gray: #373540;
$dark: #212027;

//Color Palette
$red: #F85959;
$green: #a2ff51;
$blue: #51a2ff;
$orange: #ffae51;
$violet: #ae51ff;

//Background Palette
$red-bg: rgba(255, 88, 81, 0.9);
$green-bg: rgba(50, 130, 10, 0.9);
$green-about: #32820A;