.wrapper-content {
    display: flex;
    background-color: $blue;
    height: 100%;
    width: 100%;
}

.picture {
    align-self: flex-end;
    width: 30%;
    z-index: 1;
    margin-bottom: 20px;
}

.about {
    font-family: Catamaran;
    width: 60%;
    height: 90%;
    align-self: center;
    z-index: 1;
    overflow: scroll;
}

.header-about {
    color: $white;
    font-size: 4em;
    font-weight: 900;
    line-height: 0.6;
    text-transform: uppercase;
    width: 30%;
}

.sub-header-about {
    color: $white;
    font-size: 1.5em;
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 1.2;
    margin: 72px 0 72px 15%
}

.content-about {
    font-family: "Catamaran";
    font-size: 1em;
    font-weight: 100;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white;
    font-weight: normal;
    margin-left: 15%;
}

.wrapper-header, .wrapper-sub-header, .wrapper-text {
    position: relative;
}
.wrapper-header {
    margin-bottom: -80px;
}

.wrapper-text {
    width: 90%;
}

.italic {
    color: $white;
    font-family: Catamaran;
    font-size: 56px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    height: 72px;
    letter-spacing: normal;
    line-height: 0.8;
    text-transform: lowercase;
    width: 235px;
    &--bg-about {
        font-family: Playfair Display;
        font-size: 35vw;
        font-weight: 900;
        line-height: 0.3;
        text-transform: lowercase;
        display: flex;
    }
    &--about {
        font-family: Playfair Display;
        font-size: 1em;
        font-weight: 900;
        line-height: 0.6;
        text-transform: lowercase;
    }
}

.bg-about {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Catamaran;
    font-size: 27vw;
    font-weight: 900;
    height: 100%;
    justify-content: center;
    line-height: 0.8;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    opacity: 0.1;
}

.wrapper-cross {
    align-self: center;
}

.cross {
    cursor: pointer;
    position: relative;
    width: 60px;
    margin-right: 14px;
    &--menu {
        margin-bottom: 50px;
        height: 40px;
        cursor: pointer;  
    }
}

.hidden {
    opacity: 0;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 

    .picture {
        width: 30%;
        height: auto;
    }

    .about {
        margin-left: -70px;
    }

    .header-about {
            font-size: 8vw;
    }

    .sub-header-about {
            font-size: 3vw;
            margin-left: 100px;
    }

    .content-about {
            font-size: 2.2vw;
            margin-left: 100px;
    }

    .italic--about {
        font-size: 8vw;
    }
}

@media only screen 
and (max-width : 414px) 
and (orientation : portrait) { 

    .wrapper-content {
        flex-direction: column;
    }

    .picture {
        width: 100%;
    }

    .about {
        width: 90%;
        height: 70%;
        margin-top: -90px;
        align-self: center;
    }

    .header-about {
        font-size: 15vw;
    }

    .sub-header-about {
            font-size: 5.7vw;
            width: 100%;
            margin: 0;
    }

    .content-about {
            font-size: 4vw;
            margin-left: 0;
    }
    
    .italic--about {
        font-size: 15vw;
    }
}

@media only screen 
and (max-width : 375px)
and (orientation : portrait) { 

    .wrapper-content {
        flex-direction: column;
    }

    .picture {
        width: 100%;
    }

    .about {
        width: 90%;
        height: 70%;
        margin-top: -80px;
        z-index: 1;
        align-self: center;
        display: block;
    }

    .header-about {
            font-size: 15vw;
    }

    .sub-header-about {
            font-size: 5.7vw;
            width: 100%;
            margin: 0;
    }

    .content-about {
            font-size: 4vw;
            margin-left: 0;
    }
    
    .italic--about {
        font-size: 15vw;
    }
}

@media only screen 
and (max-width : 320px) 
and (orientation : portrait) { 

    .sub-header-about {
        margin: 0;
    }
}

