
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
        align-self: center;
        display: flex;
        height: 70px;
        justify-content: space-between;
        width: 94%;
    }
    &__body {
    align-self: center;
    height: 100%;
    position: relative;
    justify-content: space-between;
    overflow: auto;
    width: 94%; 
    background-color: $light-gray;
    } 
}

.logo {
    align-self: center;
    width: 30px;
    &__left, &__right {
        width: 100%;
    }
}

.menu {
    align-self: center;
    width: 30px;
}

.open-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-color: $dark-gray;
    margin: 0;
    padding: 0;
}

.project-link {
    
    @include navigation;
    text-decoration: none;
    &--0 {
        &:hover {
            color: $dark;
        }
    }
    &--1 {
        &:hover {
            color: $red;
        }
    }
    &--2 {
        &:hover {
            color: $blue;
        }
    }
    &--3 {
        &:hover {
            color: $green;
        }
    }
    &--4 {
        &:hover {
            color: $orange;
        }
    }
    &--5 {
        &:hover {
            color: $violet;
        }
    }
    &--6 {
        display: flex;
        width: 130px;
        justify-content: space-around;
        margin-top: 20px;
    }
}

.background--1 {
    background-image: url('../img/rubrics-1.png');
    background-size: cover;
}
.background--2 {
    background-image: url('../img/wps-1.png');
    background-size: cover;
}
.background--3 {
    background-image: url('../img/tss-1.jpg');
    background-size: cover;
}

.bg--default {
    background-color: $light-gray;
}

.image {
    width: 94%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
    position: fixed;
}

.header-body {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: 45% repeat(2, 25%);
    grid-template-rows: repeat(3, 1fr);
    &__center {
        grid-row-start: 2;
    }
    &__bottom {
        grid-row-start: 3;
    }
}

.ampersand {
    display: flex;
    height: 100%;
    width: 35%;
    align-self: flex-end;
}

.text {
    margin: 0;
    font-family: Catamaran;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.5px;
    &--outline {
    -webkit-text-stroke: 2px $red;
    color: transparent;
    font-size: 4.5vw;
    justify-self: end;
    }
    &--center {
        grid-row-start: 2;
    }
    &--full{
        font-size: 4vw;
        color: $dark-gray;
        align-self: flex-end;
        text-transform: uppercase;
        &-center {
            grid-column-start: 2;
            grid-row-start: 2;
        }
        &-bottom {
            grid-column-start: 2;
            grid-row-start: 3;
            margin-right: -270px;
        }
    }
    &--ampersand {
        font-size: 9vw;
        color: $white;
        font-family: Playfair Display;
        grid-column-start: 3;
        grid-row-start: 2;
        align-self: end;
        margin-top: -60px;
        margin-bottom: -26px;
    }
    &--right-bottom {
        align-self: center;
        font-size: 4vw;
        color: $dark-gray;
        top: 88px;
    }
}

.arrow {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 55%;
    margin-bottom: -30px;
    &__image {
        animation: 2s infinite arrow;
        cursor: pointer;
        height: 70px;
    }
    @keyframes arrow {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            margin-right: -36px;
            opacity: 1;
        }
    }
}

.wrapper__projects {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.p-name {
    display: none;
}

.p-link {
    text-decoration: none; 
}

.hidden {
    visibility: hidden;
}

.closed-menu {
    display: none;
}

.project {
    width: 1%;
    height: 100%;
    &--1 {
        background-color: $red;
        &:hover {
            @include project;
        }
    }
    &--2 {
        background-color: $blue;
        visibility: hidden;
        &:hover {
            @include project;
        }
    }
    &--3 {
        background-color: $green;
        &:hover {
            @include project;      
        }
    }
    &--4 {
        visibility: hidden;
        background-color: $orange;
        &:hover {
            @include project;
        }
    }
    &--5 {
        visibility: hidden;
        background-color: $violet;
        &:hover {
            @include project;
        }
    }
}

@media only screen 
and (max-width : 1024px) 
and (orientation : landscape) {
    .content {
        grid-template-rows: repeat(3, 46px);
    }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait){

    .content {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 48%;
    }

    .text--outline {
        font-size: 7vw;
    }

    .text--ampersand {
        align-self: flex-end;
        font-size: 13vw;
        margin-top: -32px;
        margin-bottom: -72px;
    }

    .text--full {
        align-self: flex-start;
        font-size: 6vw;
    }

    .project {
        width: 5%;
    }
}

@media only screen 
and (max-width : 414px) 
and (orientation : portrait){


    .content {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
    }
    .text {
        margin: 0;
        &--outline {
            font-size: 12vw;
        }
        &--ampersand {
            align-self: flex-end;
            font-size: 17vw;
            margin-right: 68px;
            margin-bottom: -48px;
            margin-top: -16px;
        }
        &--full {
            align-self: flex-start;
            font-size: 9vw;
        }
    }

    .project {
        width: 5%;
    }

    .project-link {
        font-size: 5vw;
    }
}

@media only screen 
and (max-width : 736px) 
and (orientation : landscape){
    .content {
        grid-template-rows: repeat(3, 32px);
        align-items: end;
    }

    .text--ampersand {
        margin-bottom: -16px;
    }

    .arrow__image {
        height: 48px;
    }
}

@media only screen 
and (max-width : 375px) 
and (orientation : portrait) {

    .content {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
    }

    .text {
        margin: 0;
        &--outline {
            font-size: 12vw;
        }
        &--ampersand {
            align-self: flex-end;
            font-size: 17vw;
            margin-right: 68px;
            margin-bottom: -48px;
            margin-top: -16px;
        }
        &--full {
            align-self: flex-start;
            font-size: 9vw;
        }
    }

    .project-link {
        font-size: 6vw;
    }

    .project {
        width: 8%;
    }
}

@media only screen 
and (max-width : 320px) 
and (orientation : portrait) {

    .text--ampersand {
        margin-right: 56px;
        margin-bottom: -40px;
    }

    .arrow__image {
        height: 48px;
    }
}