
.main {
    // background-image: url('../../img/moon.png');
    width: 100%;
    position: absolute;
    // opacity: 0.5;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}

.sectCero {
    // background-image: url('../../img/butterflies.jpg');
    width: 100%;
    // position: absolute;
    // opacity: 0.5;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}

.sectOne {
    background-image: url('../../img/cat.png');
    width: 100%;
    // position: absolute;
    // opacity: 0.5;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}

.sectTwo {
    background-image: url('../../img/butterflies.jpg');
    width: 100%;
    // position: absolute;
    // opacity: 0.5;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}






.sub {
    background-color: aqua;
    height: 50%;
    width: 100%;
    // position: absolute;
}
.sub1 {
    background-color: darkgoldenrod;
    height: 50%;
    width: 100%;
    // position: absolute;
}